:root {
  --lightblue: #E6F7FE;
  --blue: #00AFF5;
  --darkblue: #022B3A;
  --green: #04A777;
  --red: #EE4266;
  --lightred: #FAC7D2;
  --yellow: #FFD23F;
  --grey: #DDD;
  --lightgrey: #EDEDED;
  --white: #FFF
}

